body{
    color: #FFF;
    background-color: #d5d5d5;
    margin: 0% 0%;
    padding: inherit;
    /*Color Scheme
    Dusty: #96858f
    Lavendar: #6d7993
    Overcast: #9099a2
    Paper: #d5d5d5;
    */
    font-family: serif, sans-serif;
    font-size: 87.5%;
    line-height: 1.5;
    text-align: left;

}
a{
    text-decoration: none;
}
a:link, a:visited{
    color: #FFFF;
}

/*Style the Navigation bar*/
.mainHeader nav{
    width: 100%;
    background-color: #96858f;
    height: auto;
}

.mainHeader nav ul {
    list-style: none; /*Gets rid of bullets*/
    margin: 0 auto;
}
.mainHeader nav ul li {
    display: inline;
}
.mainHeader nav a:link, .mainHeader nav a:visited{
    color: #FFFF;
    display: inline-block;
    padding: 0 2%;
    height: auto;
}
#list{
    list-style: none;
    display: inline-block;
}
/*Give background color to active page and page hovering over*/
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link{
    background-color: #6d7993;
}
/*Give a nice border to the background of nav bar links*/
.mainHeader nav ul li a{
    border-radius: 5px;
}

/*/*--------Just for Productivity Tracker----------*/
.mainBody{
    width: 100%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
}
.leftContent{
    float: left;
    width: 30%;
    background-color: #6d7993;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.rightContent{
    width: 60%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
    background-color: #6d7993;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#userInput{
    margin: 2% 2%;
}
#categoryList{
    list-style: none;
}
#newCategory{
    background-color: #96858f;
    width: 20%;
    float: right;
    margin: 2% 3%;
    padding: 2% 2%;
}
#mainTask{
    padding-top: 1%;
    margin:0 1%;
    background-color: #9099a2;
    border-style: solid;

}
#list{
    margin-top: 2%;
    padding: 2% 2%;
    list-style: none;
    display: block;
}
#list li{
    font-family: Papyrus;
    font-size: 140%;
    margin-bottom: 2%;
    margin-right: 2%;
    padding: 3%;
    text-align: center;
    white-space: pre;
}
.sortButtons{
    width: auto;
    text-align: center;
}
.listButtons{
    list-style: none;
    padding-left: 0%;
}
.listButtons li{
    display: inline-block;
}

/*--------Just for Picture Catalog----------*/

/*Main content styling*/
.mainContent{
    width: 100%;
    margin: 0 auto;
}
.mainContent table{
    /*width: auto;*/
    margin: 0 auto;
}
.mainContent table tr, td, img {
    border: 2px solid black;
    background-color: black;
    float: left;
}
/*set image container size to constant*/
.imgSize {
    height: 225px;
    width: 300px;
    overflow: hidden;
}
/*set image size to just larger than container*/
.imgSize img {
    height: auto;
    width: 120%;
    cursor: pointer;

}
/*lightbox styling*/
@keyframes lightBoxAnimation {
    from{visibility: hidden;}
    to{visibility: visible;}
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes lightBoxClose {
    from{visibility: visible;}
    to{visibility: hidden;}
    from{opacity: 1;}
    to{opacity: 0;}
}

#lightBox{
    width: 100%;
    height: 100%;
    /*display: none;*/
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #000;

    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

}

#playButtonContainer{
    height: 30px;
    margin: 2% 1% 2% 1%;
    text-align: center;
}
.playButton{
    font-size: 30px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.closeControl{
    position: absolute;
    top: 1%;
    right: 3%;
    font-size: 24px;
    cursor: pointer;
    color: darkgrey;


}
.closeControl:hover{
    color: white;
}
/*style main container of light box*/
.lightBoxContent{
    position: relative;
    height: 70%;
    width: 75%;
    overflow: hidden;
    margin: 2% auto;
    background-color: #000000;
}

@keyframes animateImageOpen {
    from {opacity: 0;}
    to {opacity: 1;}
}

.displayImages{
    display: none;
}

/*Style left and right arrows of light box*/
.arrow{
    cursor: pointer;
    position: absolute;
    color: darkgrey;
    font-size: 32px;
    top: 50%;
}
.arrow:hover{
    color: white;
}
#leftArrow{
    left: 5%;
}
#rightArrow{
    right: 5%;
}


/*-----Lightbox Thumbnail*/
.thumbHolder{
    width: 95%;
    margin-left: 2.5%;
    display: block;
}
#thumbnail {

    display: block;
    overflow-x: scroll;
    height: 100px;
    white-space: nowrap;

}

/*set image container size to constant*/
.thumbElement {
    height: 100px;
    width: 150px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}
/*set image size to just larger than container*/
.thumbElement img {
    height: auto;
    width: 120%;
}


/*******Specialty Styling**********/
@keyframes imageHover {
    from {opacity: 1;}
    to {opacity: .5;}
    from{transform: scale(1);}
    to {transform: scale(1.2);}
}

.imgSize img:hover, .thumbElement img:hover{
    /*transform: scale(1.2);
    opacity: .5;*/
    animation-name: imageHover;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
